/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

/* DOCUMENT RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--ff);
}

button, textarea, input {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

/* VARIABLES */

:root {
    --primary-color-500: #142560;
    --primary-color-400: #4F5C88;
    --primary-color-300: #8A92B0;
    --primary-color-200: #C4C8D7;

    --white: #fff;

    --secondary-color-500: #3763EF;
    --secondary-color-400: #698AF3;
    --secondary-color-300: #9BB1F8;
    --secondary-color-200: #CDD8FB;

    --grey-500: #000000; 
    --grey-500: #404040; 
    --grey-500: #808080; 
    --grey-500: #BFBFBF; 
    --grey-500: #E6E6E6; 

    --ff: 'Sawarabi Gothic', sans-serif;
    --h1: clamp(48px, 6vw, 38px);
    --h2: clamp(40px, 3vw, 40px);
    --h3: clamp(32px, 3vw, 22px)
    --h4: clamp(24px, 3vw, 14px);
    --h5: clamp(20px, 3vw, 10px);
    --h6: clamp(16px, 3vw, 12px);

    --body-l: clamp(16px, 3vw, 10px);
    --body-m: clamp(14px, 3vw, 8px);
    --body-s: clamp(10px, 3vw, 6px);

}


/* UTILITY CLASSES */
h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}
h3 {
    font-size: var(--h3);
}
h4 {
    font-size: var(--h4);
}
h5 {
    font-size: var(--h5);
}
h6 {
    font-size: var(--h6);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.color1 {
    color: var(--primary-color-500);
}


.color2 {
    color: var(--secondary-color-500);
}



/* GENERAL STYLES */

nav {
    width: min(1400px, 80%);
    margin-inline: auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.navmenu  {
    display: flex;
    justify-content: space-between;
    display: none;
}

.navmenu li {
    list-style: none;
    padding: .5rem;
}

.navmenu li:hover {
    border-bottom: 3px solid var(--primary-color-500);
}

.line {
    width: 30px;
    height: 3px;
    background-color: var(--primary-color-500);
    margin-bottom: 3px;
    border-radius: 50px;
}

.herosection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    text-align: center;
    position: relative;
    
}


.heroimage {
    width: 70%;
}


.hero1 {
    width: 60px;
    position: absolute;
    top: 120px;
    left: 30px;
}

.hero2 {
    width: 20px;
    position: absolute;
    top: 150px;
    right: 40px;
}

.gd-card {
    position: absolute;
    bottom: 0;
    right: 100px;
    width: 100px;
    background-color: var(--white);
    border-radius: 20px;
}

.txt1 {
    font-size: var(--body-l);
}

.txt2 {
    font-size: var(--body-s);
}

.hero3 {
    width: 50px;
    position: absolute;
    top: 250px;
    left: 60px;
}


.gdp {
    width: 30px;
}


@media (min-width: 60rem) {
    .container {

    }

    .hero1 {
        width: 100px;
        position: absolute;
        top: 100px;
        left: 30px;
    }
    
    .hero2 {
        width: 30px;
        position: absolute;
        top: 150px;
        right: 70px;
    }
    
    .gd-card {
        position: absolute;
        bottom: 0;
        right: 150px;
        width: 203px;
        background-color: var(--white);
        border-radius: 20px;
    }
    
    .txt2 {
        font-size: var(--body-s);
    }
    
    .hero3 {
        width: 50px;
        position: absolute;
        top: 250px;
        left: 60px;
    }
    
    
    .gdp {
        width: 30px;
    }
}