/* FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap");

/* DOCUMENT RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--ff);
}

button,
textarea,
input {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

/* VARIABLES */

:root {
  --primary-color-500: #142560;
  --primary-color-400: #4f5c88;
  --primary-color-300: #8a92b0;
  --primary-color-200: #c4c8d7;

  --white: #fff;

  --secondary-color-500: #3763ef;
  --secondary-color-400: #698af3;
  --secondary-color-300: #9bb1f8;
  --secondary-color-200: #cdd8fb;

  --grey-500: #000000;
  --grey-400: #404040;
  --grey-300: #808080;
  --grey-200: #bfbfbf;
  --grey-100: #e6e6e6;

  --ff: "Sawarabi Gothic", sans-serif;

  --h1: clamp(30px, 4vw, 58px);
  --h2: clamp(32px, 4vw, 40px);
  --h3: clamp(22px, 4vw, 38px);
  --h4: clamp(14px, 3vw, 24px);
  --h5: clamp(10px, 3vw, 20px);
  --h6: clamp(12px, 3vw, 20px);

  --body-l: clamp(10px, 3vw, 16px);
  --body-m: clamp(8px, 3vw, 14px);
  --body-s: clamp(6px, 3vw, 10px);
}

/* UTILITY CLASSES */
h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
h6 {
  font-size: var(--h6);
}

.container {
  width: min(1400px, 80%);
  display: grid;
  padding: 2rem;
  gap: 3rem;
  margin-inline: auto;
}

.color1 {
  color: var(--primary-color-500);
}

.color2 {
  color: var(--secondary-color-500);
}

.button1 {
    padding: .5rem 1.5rem;
    background-color: var(--primary-color-500);
    color: var(--white);
    border: none;
    border-radius: 10px;

}

/* GENERAL STYLES */

nav {
  width: min(1400px, 80%);
  margin-inline: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.navmenu {
  display: flex;
  justify-content: space-between;
  display: none;
}

.navmenu li {
  list-style: none;
  padding: 0.5rem;
}

.navmenu li:hover {
  border-bottom: 3px solid var(--primary-color-500);
}

.line {
  width: 30px;
  height: 3px;
  background-color: var(--primary-color-500);
  margin-bottom: 3px;
  border-radius: 50px;
}

.herosection {
  display: flex;
  width: min(1400px, 100%);
  margin-inline: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 3rem;
  text-align: center;
  position: relative;
}

.heroimage {
  width: 70%;
}

.hero1 {
  width: 60px;
  position: absolute;
  top: 220px;
  left: 30px;
}

.hero2 {
  width: 20px;
  position: absolute;
  top: 250px;
  right: 40px;
}

.gd-card {
  position: absolute;
  bottom: 0;
  right: 100px;
  width: 100px;
  background-color: var(--white);
  border-radius: 20px;

  display: none;
}

.txt1 {
  font-size: var(--body-l);
}

.txt2 {
  font-size: var(--body-s);
}

.hero3 {
  width: 50px;
  position: absolute;
  top: 300px;
  left: 40px;
}

.stdd {
  display: flex;
}

.gdp {
  width: 30px;
}


.hero2 {
    display: flex;
    flex-direction: row;
}

.about {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.about-ico {
  width: 30px;
}
.about-items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about-side1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-side2 {
    width: min(600px, 100%);
}

.whh-pen {
  width: 50px;
}

.whh-tag {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 264px;
  padding: 3rem 2rem;
  background-color: var(--white);
  box-shadow: 0px 0px 30px var(--grey-100);
  border-radius: 10px;
}

.whh-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.why-pen {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.team {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.staff {
  width: 60px;
}

.faculty {
  display: grid;
  grid-auto-flow: row;
  gap: 3rem;
}

.team-sect1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pastevents {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.events {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sp-bg {
  background-color: var(--primary-color-500);
  color: white;
}
.event {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  align-items: center;
}
.eventimage {
  width: 200px;
}

.achievements {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.records {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.faq {
    display: grid;

    gap: 3rem;
} 
.questions {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.newsletter {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.sp-bg2 {
    background-color: var(--secondary-color-500);
    border-radius: 20px;
}

.notify {
    background-color: var(--secondary-color-500);
    color: var(--white);
    border: 1px solid var(--white);
    padding: .5rem;
    border-radius: 10px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

.top1 {
    text-align: center;
}

.form-sections {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

.form-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-sections input {
    padding: .5rem;
    width: 400px;
    border: 1px solid var(--secondary-color-500);
    border-radius: 10px;
}

.form-div textarea {
            padding: .5rem;
                
                border: 1px solid var(--secondary-color-500);
                border-radius: 10px;
}

@media (min-width: 80rem) { 
  .container {
    grid-auto-flow: column;
    justify-content: center;
    padding: 6rem;
  }

  .hero1 {
    width: 100px;
    position: absolute;
    top: 200px;
    left: 60px;
  }

  .hero2 {
    width: 30px;
    position: absolute;
    top: 250px;
    right: 120px;
  }

  .gd-card {
    position: absolute;
    bottom: -10px;
    right: 320px;
    width: 200px;
    background-color: var(--white);
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 0px 0px 20px rgb(182, 182, 182);
    display: block;
  }

  .txt2 {
    font-size: var(--body-s);
  }

  .hero3 {
    width: 100px;
    position: absolute;
    top: 550px;
    left: 80px;
  }

  .gdp {
    width: 30px;
    display: block;
  }

  .whh-card {
    justify-content: flex-start;
  }

  .faculty {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  .event {
    flex-direction: row;
    text-align: left;
  }

  .pastevents {
    flex-direction: row;
  }

  .achievements {
    flex-direction: row;
  }
  .faq {
        grid-auto-flow: column;
            grid-auto-columns: 1fr 3fr;
  }
}
